<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <!--<div class="pt-4">-->
    <!--  <a class="btn btn-outline-white" href="" target="_blank"-->
    <!--    role="button">link 1-->
    <!--    <i class="fas fa-download ml-2"></i>-->
    <!--  </a>-->
    <!--  <a class="btn btn-outline-white" href="" target="_blank" role="button">link 2-->
    <!--    <i class="fas fa-graduation-cap ml-2"></i>-->
    <!--  </a>-->
    <!--</div>-->
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <!--empty links-->
      <span class="mr-1">empty {</span>
      
      <a target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a target="_blank">
        <i class="fab fa-codepen"></i>
      </a>
      
      <span class="mr-5">}</span>
      <!--empty links-->
      
      <!--author's links-->
      <a href="mailto: aodong99@gmail.com" target="_blank">
        <i class="fas fa-envelope fa-2x mr-3"></i>
      </a>
      
      <a href="https://www.linkedin.com/in/aodong/" target="_blank">
        <i class="fab fa-linkedin fa-2x mr-3"></i>
      </a>
      
      <a href="https://github.com/Ao99/e-commerce-django" target="_blank">
        <i class="fab fa-github fa-2x mr-3"></i>
      </a>
      
      <a href="http://www.ao9.io/" target="_blank">
        <i class="fas fa-globe-americas fa-2x mr-3"></i>
      </a>
      <!--author's links-->
      
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      <small>
      © 2019 Copyright:
      Some HTML and CSS templates are from<a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
      </small>
    </div>
    <!--/.Copyright-->

  </footer> 