<!-- Cart -->
<ul class="list-group mb-3 z-depth-1">
  {% for order_item in order.cart.items.all %}
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <a href="{{ order_item.item.get_absolute_url }}">
      <img src="{{ order_item.item.photo.url }}" alt="" width=50>
      <p class="my-0 black-text">{{ order_item.quantity }} x {{ order_item.item.title}}</p>
      <p class="text-muted">{{ order_item.item.description}}</p>
    </a>
    <div class="text-muted">
      {% if order_item.item.discount_price %}
      <span class="badge badge-danger">Saving ${{ order_item.get_total_item_saving }}</span> {% endif %}
      <span>${{ order_item.get_total_item_price }}</span>
    </div>
  </li>
  {% endfor %}
  {% if order.cart.coupon %}
  <li class="list-group-item d-flex justify-content-between bg-light">
    <div class="text-success">
      <h6 class="my-0">Promo code</h6>
      <small>{{ order.cart.coupon.code }}</small>
    </div>
    <span class="text-success">-${{ order.cart.get_coupon_off }}</span>
  </li>
  {% endif %}
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (CAD)</span>
    <div>
      {% if order.cart.has_discount_item %}
      <span class="badge badge-danger">Total saving ${{ order.cart.get_total_saving }}</span> {% endif %}
      <strong>${{ order.cart.get_total_price }}</strong>
    </div>
  </li>
</ul>
<!-- Cart -->