{% extends "base.html" %}
grey lighten-3

{% load crispy_forms_tags %}

{% block head_title %}Checkout{% endblock %}

{% block content %}

  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout information</h2>
      
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-7 mb-4">
          
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Shipping address</span>
          </h4>
          <!--Card-->
          <div class="card">
            
            
            <!--Card content-->
            <form method='POST' class="card-body">{% csrf_token %}
              
              {% if default_ship %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_ship" id="use_default_ship">
                <label class="custom-control-label" for="use_default_ship">Use default shipping address: {{ default_ship.address|truncatechars:15 }}</label>
              </div>
              {% endif %}
              
              <div class="hidable_shipping_form">
                
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <!--firstName-->
                    <div class="md-form ">
                      <input value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" type="text" id="first_name" name="first_name" class="form-control" required>
                      <label for="first_name" class="">First name</label>
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <!--lastName-->
                    <div class="md-form">
                      <input value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" type="text" id="last_name" name="last_name" class="form-control" required>
                      <label for="last_name" class="">Last name</label>
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                </div>
                <!--Grid row-->
  
                <!--email-->
                <div class="md-form mb-5">
                  <input value="{% if form.email.value %}{{ form.email.value }}{% endif %}" type="text" id="email" name="email" class="form-control" placeholder="youremail@example.com" required>
                  <label for="email" class="">Email</label>
                </div>
  
                <!--address-->
                <div class="md-form mb-5">
                  <input value="{% if form.address.value %}{{ form.address.value }}{% endif %}" type="text" id="address" name="address" class="form-control" placeholder="1234 Main St" required>
                  <label for="address" class="">Address</label>
                </div>
  
                <!--address-2-->
                <div class="md-form mb-3">
                  <input value="{% if form.address2.value %}{{ form.address2.value }}{% endif %}" type="text" id="address2" name="address2" class="form-control" placeholder="Apartment or suite">
                  <label for="address2" class="">Address 2 (optional)</label>
                </div>
  
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <!--city-->
                    <div class="md-form ">
                      <input value="{% if form.city.value %}{{ form.city.value }}{% endif %}" type="text" id="city" name="city" class="form-control" required>
                      <label for="city">City</label>
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <!--state-->
                    <div class="md-form">
                      <input value="{% if form.state.value %}{{ form.state.value }}{% endif %}" type="text" id="state" name="state" class="form-control">
                      <label for="state">State (optional)</label>
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                </div>
                <!--Grid row-->
                
                <!--Grid row-->
                <div class="row">
  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <label class="grey-text" for="country">Country</label>
                    {{ form.country }}
  
                  </div>
                  <!--Grid column-->
                  
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
  
                    <!--zip-->
                    <div class="md-form">
                      <input value="{% if form.zip.value %}{{ form.zip.value }}{% endif %}" type="text" id="zip" name="zip" class="form-control" required>
                      <label for="zip">Zip</label>
                    </div>
  
                  </div>
                  <!--Grid column-->
  
                </div>
                <!--Grid row-->
  
                <!--<div class="custom-control custom-checkbox">-->
                <!--  <input {% if form.same_address.value %}checked{% endif %}-->
                <!--    type="checkbox" class="custom-control-input" name="same_address" id="same_address">-->
                <!--  <label class="custom-control-label" for="same_address">Shipping address is the same as my billing address</label>-->
                <!--</div>-->
                <div class="custom-control custom-checkbox">
                  <input {% if form.save_ship.value %}checked{% endif %}
                    type="checkbox" class="custom-control-input" name="save_ship" id="save_ship">
                  <label class="custom-control-label" for="save_ship">Save as default shipping address</label>
                </div>
              </div>
              
              <hr>

              <div class="d-block my-3">
                {% for value, text in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ text }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" {% if value != 'S' %}disabled{% endif %} required>
                  <label class="custom-control-label" for="{{ text }}">{{ text }} {% if value != 'S' %}(currently unavailable){% endif %} </label>
                  {% if value == 'S' %}
                    <i class="far fa-credit-card mr-1"></i><i class="fab fa-stripe"></i>
                  {% elif value == 'P' %}
                    <i class="fab fa-paypal"></i>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Save and continue to payment</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4">
          {% include 'cart_snippet.html' %}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock %}

{% block extra_scripts %}
<script>
  var hidable_shipping_form = $('.hidable_shipping_form');
  var use_default_ship = document.querySelector("input[name=use_default_ship]")
  var first_name = document.querySelector("input[name=first_name]");
  var last_name = document.querySelector("input[name=last_name]");
  var email = document.querySelector("input[name=email]");
  var address = document.querySelector("input[name=address]");
  var city = document.querySelector("input[name=city]");
  var zip = document.querySelector("input[name=zip]");
  
  use_default_ship.addEventListener('change', function(){
    if (this.checked) {
      hidable_shipping_form.hide();
      first_name.required = false;
      last_name.required = false;
      email.required = false;
      address.required = false;
      city.required = false;
      zip.required = false;
    } else {
      hidable_shipping_form.show();
      first_name.required = true;
      last_name.required = true;
      email.required = true;
      address.required = true;
      city.required = true;
      zip.required = true;
    }
  })
</script>
{% endblock %}